.container {
    background-color: #3f51b5;
    margin-top: 8px;
    margin-left:8px;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    width: 150px;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    color: #3f51b5;;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
}

#deletar{
    background-color: red;
    color: #fff;
}

#deletar:hover{
    background-color: red;
    color: black;
}

#cancelar:hover{
    background-color: greenyellow;
    color: black;
}