.home{
    background-color: #3f51b5;
    padding: 15px;
    margin: 10px;
}

.home .title{
    color: #fff;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.2;
    padding: 3px;
}

.home .subtitle{
    font-size: 1.1rem;
    padding: 3px;
    color: #fff;
}