.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: black;
}

.footer > span {
    font-size: 1.2rem;
    font-weight: 300;
}